<nav>
	<ul class="flex justify-center">
		<li class="mr-6">
			<a class="text-blue-500 hover:text-blue-800" href="/">Books</a>
		</li>
		<li class="mr-6">
			<a class="text-blue-500 hover:text-blue-800" href="/genre">Genre</a>
		</li>
		<li class="mr-6">
			<a class="text-blue-500 hover:text-blue-800" href="/author">Author</a>
		</li>
	</ul>
</nav>
